{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}JSON Beautifier{% endblock %}

{% block body %}
    <div class="container">
        <h1>JSON Beautifier</h1>

        {{ form(form) }}

        <script>
            window.autoGrow = function (element) { element.style.height = element.scrollHeight + 'px'; }
            window.autoGrow(document.getElementById('json_json'));
        </script>

    </div>
{% endblock %}
